body {
    background-color: #000826;
}
.title {
    font-size: 60px;
    color: rgb(100, 178, 247);
    text-align: center;
    margin-bottom: 50px;
}
.gallery {
    overflow: hidden;
    width: 100%;
    padding: 40px 0;
}
.images {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: drift 25s linear infinite;
    height: 250px;
}
.images:hover {
    animation-play-state: paused;
}
.images img {
    width: 300px;
    height: 200px;
   border-radius: 12px;
   transition: transform 0.4s cubic-bezier(0.25, 1, 0.5,1), filter 0.4s;
}
.images:hover img {
    transform: scale(0.9);
    opacity: 0.6;
}
.images img:hover {
    transform: scale(1.2) !important;
    opacity: 1 !important;
    z-index: 2;
    box-shadow: 0 10px 30px rgba(100, 178, 247, 0.4);
}
.images img.neighbor {
    transform: scale(1.05);
    opacity: 0.85;
}